* {
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}

.display input {
    width: 100%;
    height: 80px;
    background: transparent;
    border: none;
    text-align: right;
    padding: 10px;
    font-size: 2rem;
    color: #fff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-gap: 10px;
    margin-top: 20px;
}

button {
    height: 60px;
    font-size: 1.3rem;
    border: none;
    outline: none;
    background: #eee;
    border-radius: 10px;
    cursor: pointer;
}

.operator {
    background: #ffb84d;
}

.equal {
    grid-column: span 2;
    background: #4dff88;
}
